<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.reactrip.admin.community.diary.model.mapper.AdminDiaryMapper">

<resultMap id="diaryDetailMap" type="com.kh.reactrip.admin.community.diary.model.dto.AdminDiaryDTO">
    <id property="diaryNo" column="diaryNo"/>
    <result property="diaryTitle" column="diaryTitle"/>
    <result property="diaryContent" column="diaryContent"/>
    <result property="createdDate" column="createdDate"/>
    <result property="count" column="count"/>
    <result property="diaryStatus" column="diaryStatus"/>
    <result property="memberNo" column="memberNo"/>
    <result property="memberName" column="memberName"/>
    <result property="email" column="email"/>
    <result property="scheduleNo" column="scheduleNo"/>
    <result property="travelNo" column="travelNo"/>
    <result property="updatedDate" column="updatedDate"/>

    <collection property="images" ofType="com.kh.reactrip.admin.community.diary.model.vo.AdminDiaryImageVO">
        <id property="imageNo" column="imageNo"/>
        <result property="imageUrl" column="imageUrl"/>
        <result property="originalName" column="originalName"/>
        <result property="sortOrder" column="sortOrder"/>
        <result property="diaryNo" column="imgDiaryNo"/>
    </collection>
</resultMap>


<select id="getTotalCount" resultType="_int">
	SELECT 
           COUNT(*)
      FROM 
           TB_DIARY
     WHERE
           DIARY_STATUS = 'N'
</select>
<select id="findAllDiary" resultType="com.kh.reactrip.admin.community.diary.model.dto.AdminDiaryDTO">
	SELECT 
           D.DIARY_NO      AS diaryNo
         , D.DIARY_TITLE   AS diaryTitle
         , D.DIARY_CONTENT AS diaryContent
         , D.CREATED_DATE  AS createdDate
         , D.COUNT         AS count
         , D.DIARY_STATUS  AS diaryStatus
         , D.MEMBER_NO     AS memberNo
         , M.MEMBER_NAME   AS memberName
         , M.EMAIL         AS email
         , D.SCHEDULE_NO   AS scheduleNo
         , D.TRAVEL_NO     AS travelNo
         , D.UPDATED_DATE  AS updatedDate
      FROM
           TB_DIARY D
      JOIN
           TB_MEMBER M ON D.MEMBER_NO = M.MEMBER_NO
     ORDER
        BY
           D.CREATED_DATE DESC
</select>

<select id="findByDiaryNo" resultMap="diaryDetailMap">
    SELECT 
           D.DIARY_NO      AS diaryNo
         , D.DIARY_TITLE   AS diaryTitle
         , D.DIARY_CONTENT AS diaryContent
         , D.CREATED_DATE  AS createdDate
         , D.COUNT         AS count
         , D.DIARY_STATUS  AS diaryStatus
         , D.MEMBER_NO     AS memberNo
         , D.SCHEDULE_NO   AS scheduleNo
         , D.TRAVEL_NO     AS travelNo
         , M.MEMBER_NAME   AS memberName
         , M.EMAIL         AS email
         , D.UPDATED_DATE  AS updatedDate
         , I.IMAGE_NO      AS imageNo
         , I.IMAGE_URL     AS imageUrl
         , I.ORIGINAL_NAME AS originalName
         , I.SORT_ORDER    AS sortOrder
         , I.DIARY_NO      AS imgDiaryNo
      FROM
           TB_DIARY D
      JOIN
           TB_MEMBER M ON D.MEMBER_NO = M.MEMBER_NO
      LEFT JOIN
           TB_DIARY_IMAGE I ON D.DIARY_NO = I.DIARY_NO
     WHERE
           D.DIARY_NO = #{diaryNo}
     ORDER BY
           I.SORT_ORDER ASC
</select>
<update id="deleteStatus">
	UPDATE
	       TB_DIARY
	   SET
	       DIARY_STATUS = #{diaryStatus}
	     , UPDATED_DATE = SYSDATE 
	 WHERE
	       DIARY_NO = #{diaryNo}
</update>
<select id="findImagesByDiaryNo" resultType="com.kh.reactrip.admin.community.diary.model.vo.AdminDiaryImageVO">
    SELECT 
           IMAGE_NO      AS imageNo
         , IMAGE_URL     AS imageUrl
         , ORIGINAL_NAME AS originalName
         , SORT_ORDER    AS sortOrder
         , DIARY_NO      AS diaryNo
      FROM 
           TB_DIARY_IMAGE
     WHERE 
           DIARY_NO = #{diaryNo}
     ORDER BY 
           SORT_ORDER ASC
</select>
<select id="getSearchCount" resultType="_int">
    SELECT
           COUNT(*)
      FROM
           TB_DIARY D
      JOIN
           TB_MEMBER M ON D.MEMBER_NO = M.MEMBER_NO
     WHERE
           D.DIARY_STATUS = 'N'
       <if test="keyword != null and keyword != ''">
       AND (
           D.DIARY_TITLE   LIKE '%' || #{keyword} || '%'
        OR D.DIARY_CONTENT LIKE '%' || #{keyword} || '%'
        OR M.MEMBER_NAME   LIKE '%' || #{keyword} || '%'
       )
       </if> 
</select>
<select id="findByDiarySearch" resultMap="diaryDetailMap">
    SELECT 
           D.DIARY_NO      AS diaryNo
         , D.DIARY_TITLE   AS diaryTitle
         , D.DIARY_CONTENT AS diaryContent
         , D.CREATED_DATE  AS createdDate
         , D.COUNT         AS count
         , D.DIARY_STATUS  AS diaryStatus
         , D.MEMBER_NO     AS memberNo
         , M.MEMBER_NAME   AS memberName
         , M.EMAIL         AS email
         , D.SCHEDULE_NO   AS scheduleNo
         , D.TRAVEL_NO     AS travelNo
         , D.UPDATED_DATE  AS updatedDate
         , I.IMAGE_NO      AS imageNo
         , I.IMAGE_URL     AS imageUrl
         , I.ORIGINAL_NAME AS originalName
         , I.SORT_ORDER    AS sortOrder
         , I.DIARY_NO      AS imgDiaryNo
      FROM
           TB_DIARY D
      JOIN
           TB_MEMBER M ON D.MEMBER_NO = M.MEMBER_NO
      LEFT JOIN
           TB_DIARY_IMAGE I ON D.DIARY_NO = I.DIARY_NO 
     WHERE
           D.DIARY_STATUS = 'N'
       <if test="keyword != null and keyword != ''">
       AND (
           D.DIARY_TITLE   LIKE '%' || #{keyword} || '%'
        OR D.DIARY_CONTENT LIKE '%' || #{keyword} || '%'
        OR M.MEMBER_NAME   LIKE '%' || #{keyword} || '%'
       )
       </if>
     ORDER
        BY
           D.DIARY_NO DESC
</select>
</mapper>