<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kh.reactrip.admin.members.model.mapper.AdminMemberMapper">

<select id="getTotalCount" resultType="_int">
    SELECT 
        COUNT(*)
    FROM 
        TB_MEMBER M
    LEFT JOIN 
        TB_DELETED_MEMBER D ON M.MEMBER_NO = D.MEMBER_NO
    WHERE 
        D.MEMBER_NO IS NULL
</select>

<select id="findAllMembers" resultType="com.kh.reactrip.admin.members.model.dto.AdminMemberDTO">
    SELECT 
           M.MEMBER_NO AS memberNo
         , M.MEMBER_NAME AS memberName
         , M.BIRTHDAY
         , M.PHONE
         , M.EMAIL
         , M.IMAGE
         , M.MEMBER_ROLE AS memberRole
         , M.ENROLL_DATE AS enrollDate
      FROM 
           TB_MEMBER M
      LEFT 
      JOIN 
           TB_DELETED_MEMBER D ON M.MEMBER_NO = D.MEMBER_NO
     WHERE 
           D.MEMBER_NO IS NULL
     ORDER 
        BY
           M.MEMBER_NO DESC
</select>
<select id="searchMember" resultType="com.kh.reactrip.admin.members.model.dto.AdminMemberDTO">
    SELECT 
           M.MEMBER_NO
         , M.MEMBER_NAME
         , M.BIRTHDAY
         , M.PHONE
         , M.EMAIL
         , M.IMAGE
         , M.MEMBER_ROLE
         , M.ENROLL_DATE
      FROM
           TB_MEMBER M
      LEFT 
      JOIN
           TB_DELETED_MEMBER D ON M.MEMBER_NO = D.MEMBER_NO
     WHERE
           D.MEMBER_NO IS NULL
      <if test="keyword != null and keyword != ''">
           AND (
               M.MEMBER_NAME LIKE '%' || #{keyword} || '%'
            OR 
               M.EMAIL LIKE '%' || #{keyword} || '%'
           )
      </if>
     ORDER BY M.MEMBER_NO DESC
</select>
</mapper>